/node_modules
/storage/framework
/storage/libretas
/storage/logs
/public/storage
/vendor/tcg/voyager/
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/Aux-Dashboard
/public/nbproject/private/