.cuerpoRepo{ font-size:12px }
.tip-Tar{ padding:2px 10px !important; }
.cabeceraRepo{ margin-bottom:20px; }
.logRepo img{ display:inline-block; margin-right: 10px; width:100px; }
.logRepo div{ float:right; }