.fmt-0{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_Type1_0,Arial Unicode MS,serif;color:#000000;font-size:16pt;}
.fmt-1{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:9pt;}
.fmt-2{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:8.1064pt;}

.fmt-3{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:8pt;}

.fmt-4{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:7pt;}

.fmt-5{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:7pt;}
.fmt-6{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_3,Arial Unicode MS,serif;color:#000000;font-size:10pt;}
.fmt-7{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_Type1_4,Arial Unicode MS,serif;color:#000000;font-size:13pt;}

.fmt-8{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:6.5pt;}

.fmt-9{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:6pt;}

.fmt-10{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:6.9834pt;}

.fmt-11{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_Type1_4,Arial Unicode MS,serif;color:#000000;font-size:6.5pt;}

.fmt-12{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_5,Arial Unicode MS,serif;color:#000000;font-size:6pt;}

.fmt-13{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_5,Arial Unicode MS,serif;color:#000000;font-size:5pt;}

.fmt-14{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:6pt;}

.fmt-15{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:4.8pt;}

.fmt-16{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:6.5pt;}

.fmt-17{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:4.098pt;}

.fmt-18{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:7.5pt;}

.fmt-19{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_Type1_6,Arial Unicode MS,serif;color:#000000;font-size:7.5pt;}

.fmt-20{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:7.5pt;}

.fmt-21{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:11pt;}

.fmt-22{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_7,Arial Unicode MS,serif;color:#000000;font-size:10.1094pt;}

.fmt-23{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:4.4817pt;}

.fmt-24{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:5pt;}

.fmt-25{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:5.5pt;}

.fmt-26{font-style:normal;font-weight:bold;font-family:Arial_Unicode_MS_Type1_8,Arial Unicode MS,serif;color:#000000;font-size:4.9997pt;}

.fmt-27{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_1,Arial Unicode MS,serif;color:#000000;font-size:4.9997pt;}

.fmt-28{font-style:normal;font-weight:normal;font-family:Arial_Unicode_MS_Type1_2,Arial Unicode MS,serif;color:#000000;font-size:5.4997pt;}

/* ----- */
.datogecn{ color:black; padding-left: 15px; letter-spacing: 2pt; font-size: 7.5pt; top:-10px; }


/* -------- */
.d1{ position:absolute;left:0pt;top:0pt;width:100%;height:100%;clip:rect(0pt,612pt,936pt,0pt); }

.i13,.i134,.i15,.i16,.i17,.i18,.i19,

.i29, .i30,.i31,.i32,.i33,.i34,.i35,.i36,.i37,.i38,.i39,.i40,
.i41,.i42,.i43,.i44,.i45,.i46,.i47,.i48,.i49,.i50,.i51,.i52,.i53,

.i56,.i59,.i60,.i61,.i62,.i63,.i64,.i65,.i66,.i67,.i68,.i69,
.i70,.i71,.i72,.i73,.i74,.i75,.i76,.i77,

.i80, .i81, .i82, .i83, .i84, .i85, .i86, .i87, .i88, .i89, .i90, 
.i91, .i92, .i93, .i94, .i95, .i96, .i97, .i98, .i99,

.i123, .i124, .i125, .i126, .i127, .i128, .i129,

.i221, .i218, .i216, .i319, .i375,

.i433c,.i433d,.i433e,.i433f,.i433g,.i433h,.i433i,.i433j,.i433k,.i433l
{display:none;}

.i1{position:absolute;left:52pt;top:3pt;width:60pt;height:53pt;z-index:3;}
.i2{position:absolute;left:60.8686pt;top:24.5563pt;width:42.9216pt;height:8.0787pt;z-index:4;}
.i3{position:absolute;left:60.8686pt;top:19.5072pt;width:42.9216pt;height:9.0886pt;z-index:5;}
.i4{position:absolute;left:327.64pt;top:428.66pt;width:105.36pt;height:14.64pt;z-index:7;}
.i5{position:absolute;left:255.43pt;top:349.18pt;width:78.12pt;height:23.16pt;z-index:8;}
.i6{position:absolute;left:540.82pt;top:279.04pt;width:36.48pt;height:14.64pt;z-index:11;}
.i7{position:absolute;left:494.67pt;top:278.95pt;width:36.48pt;height:14.64pt;z-index:13;}
.i8{position:absolute;left:53.9303pt;top:116.3pt;width:11.64pt;height:7.44pt;z-index:14;}
.i9{position:absolute;left:536.82pt;top:55.397pt;width:42.96pt;height:20.28pt;z-index:15;}

.i10{position:absolute;left:60.8686pt;top:36.5476pt;width:42.9216pt;height:18.0509pt;z-index:1;}
.i11{position:absolute;left:60.8686pt;top:32.5087pt;width:42.9216pt;height:8.0787pt;z-index:2;}
.i12{position:absolute;left:477.29pt;top:79.3166pt;width:102.48pt;height:17.52pt;z-index:16;}
.i13{position:absolute;left:490.08pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}
.i14{display:none;position:absolute;left:502.84pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}
.i15{display:none;position:absolute;left:515.6pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}
.i16{display:none;position:absolute;left:528.35pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}
.i17{display:none;position:absolute;left:541.11pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}
.i18{display:none;position:absolute;left:553.86pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}
.i19{display:none;position:absolute;left:566.62pt;top:79.584pt;width:.36pt;height:17.04pt;z-index:17;}

.i20{position:absolute;left:22.2526pt;top:99.3087pt;width:567.6pt;height:45.96pt;z-index:18;}
.i21{position:absolute;left:110.55pt;top:116.3pt;width:11.64pt;height:7.44pt;z-index:19;}
.i22{position:absolute;left:170.55pt;top:116.3pt;width:11.64pt;height:7.44pt;z-index:19;}
.i23{position:absolute;left:215.8pt;top:116.3pt;width:11.64pt;height:7.44pt;z-index:19;}
.i24{position:absolute;left:245.33pt;top:111.08pt;width:340.68pt;height:14.64pt;z-index:20;}
.i25{position:absolute;left:193.83pt;top:127.58pt;width:340.68pt;height:14.64pt;z-index:20;}
.i26{position:absolute;left:149.33pt;top:127.57pt;width:37.32pt;height:14.64pt;z-index:21;}
.i27{position:absolute;left:22.2526pt;top:158.41pt;width:567.6pt;height:165pt;z-index:22;}
.i28{position:absolute;left:79.0618pt;top:171.07pt;width:268.32pt;height:14.64pt;z-index:23;}
.i29{position:absolute;left:91.8178pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}

.i30{position:absolute;left:104.57pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i31{position:absolute;left:117.33pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i32{position:absolute;left:130.09pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i33{position:absolute;left:142.84pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i34{position:absolute;left:155.6pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i35{position:absolute;left:355.79pt;top:275.38pt;width:230pt;height:21pt;z-index:9;}
.i36{position:absolute;left:541.03pt;top:278.47pt;width:36pt;height:15pt;z-index:10;}
.i37{position:absolute;left:494.88pt;top:278.38pt;width:36pt;height:15pt;z-index:12;}
.i38{position:absolute;left:168.35pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i39{position:absolute;left:355.79pt;top:275.38pt;width:230pt;height:21pt;z-index:9;}

.i40{position:absolute;left:181.11pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i41{position:absolute;left:193.86pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i42{position:absolute;left:206.62pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i43{position:absolute;left:219.38pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i44{position:absolute;left:232.13pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i45{position:absolute;left:244.89pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i46{position:absolute;left:257.64pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i47{position:absolute;left:270.4pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i48{position:absolute;left:283.16pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i49{position:absolute;left:327.86pt;top:428.08pt;width:105pt;height:15pt;z-index:6;}

.i50{position:absolute;left:295.91pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i51{position:absolute;left:308.67pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i52{position:absolute;left:321.42pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i53{position:absolute;left:334.18pt;top:171.22pt;width:.48pt;height:14.28pt;z-index:24;}
.i54{position:absolute;left:79.0618pt;top:188.08pt;width:268.32pt;height:14.64pt;z-index:23;}
.i55{position:absolute;left:355.58pt;top:172.07pt;width:170.52pt;height:14.64pt;z-index:27;}
.i56{position:absolute;left:91.8178pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i57{position:absolute;left:509.58pt;top:189.38pt;width:11.64pt;height:7.44pt;z-index:19;}
.i58{position:absolute;left:563.44pt;top:189.12pt;width:11.64pt;height:7.44pt;z-index:19;}
.i59{position:absolute;left:104.57pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i60{position:absolute;left:117.33pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}

.i61{position:absolute;left:130.09pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i62{position:absolute;left:142.84pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i63{position:absolute;left:155.6pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i64{position:absolute;left:168.35pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i65{position:absolute;left:181.11pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i66{position:absolute;left:193.86pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i67{position:absolute;left:206.62pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i68{position:absolute;left:219.38pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i69{position:absolute;left:232.13pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i70{position:absolute;left:244.89pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}

.i71{position:absolute;left:257.64pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i72{position:absolute;left:270.4pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i73{position:absolute;left:283.16pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i74{position:absolute;left:295.91pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i75{position:absolute;left:308.67pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i76{position:absolute;left:321.42pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i77{position:absolute;left:334.18pt;top:188.23pt;width:.48pt;height:14.28pt;z-index:24;}
.i78{position:absolute;left:79.0618pt;top:205.09pt;width:268.32pt;height:14.64pt;z-index:25;}
.i79{position:absolute;left:477.33pt;top:198.56pt;width:108.24pt;height:14.64pt;z-index:28;}
.i80{position:absolute;left:91.8178pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}

.i81{position:absolute;left:104.57pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i82{position:absolute;left:117.33pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i83{position:absolute;left:130.09pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i84{position:absolute;left:142.84pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i85{position:absolute;left:155.6pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i86{position:absolute;left:168.35pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i87{position:absolute;left:181.11pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i88{position:absolute;left:193.86pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i89{position:absolute;left:206.62pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i90{position:absolute;left:219.38pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}

.i91{position:absolute;left:232.13pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i92{position:absolute;left:244.89pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i93{position:absolute;left:257.64pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i94{position:absolute;left:270.4pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i95{position:absolute;left:283.16pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i96{position:absolute;left:295.91pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i97{position:absolute;left:308.67pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i98{position:absolute;left:321.42pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}
.i99{position:absolute;left:334.18pt;top:205.24pt;width:.48pt;height:14.28pt;z-index:24;}

.i100{position:absolute;left:355.79pt;top:171.5pt;width:171pt;height:15pt;z-index:26;}
.i101{position:absolute;left:79.0618pt;top:230.93pt;width:268.32pt;height:14.64pt;z-index:29;}
.i102{position:absolute;left:79.0618pt;top:247.94pt;width:268.32pt;height:14.64pt;z-index:29;}
.i103{position:absolute;left:79.0618pt;top:264.94pt;width:268.32pt;height:14.64pt;z-index:30;}
.i104{position:absolute;left:79.0618pt;top:281.95pt;width:268.32pt;height:14.64pt;z-index:29;}
.i105{position:absolute;left:362.7pt;top:229.39pt;width:26.04pt;height:13.2pt;z-index:31;}
.i106{position:absolute;left:375.46pt;top:229.53pt;width:.48pt;height:12.84pt;z-index:32;}
.i107{position:absolute;left:355.58pt;top:226.98pt;width:136.56pt;height:26.04pt;z-index:33;}
.i108{position:absolute;left:394.95pt;top:229.39pt;width:26.04pt;height:13.2pt;z-index:31;}
.i109{position:absolute;left:407.71pt;top:229.53pt;width:.48pt;height:12.84pt;z-index:32;}

.i110{position:absolute;left:428.7pt;top:229.39pt;width:52.08pt;height:13.2pt;z-index:31;}
.i111{position:absolute;left:441.46pt;top:229.53pt;width:.48pt;height:12.84pt;z-index:32;}
.i112{position:absolute;left:454.22pt;top:229.39pt;width:26.04pt;height:13.2pt;z-index:31;}
.i113{position:absolute;left:466.97pt;top:229.53pt;width:.48pt;height:12.84pt;z-index:32;}
.i114{position:absolute;left:500pt;top:226.98pt;width:85.56pt;height:26.04pt;z-index:34;}
.i115{position:absolute;left:557.77pt;top:230.23pt;width:11.64pt;height:7.44pt;z-index:35;}
.i116{position:absolute;left:557.77pt;top:242.81pt;width:11.64pt;height:7.44pt;z-index:35;}
.i117{position:absolute;left:358.79pt;top:278.38pt;width:36pt;height:15pt;z-index:12;}
.i118{position:absolute;left:358.58pt;top:278.95pt;width:36.48pt;height:14.64pt;z-index:36;}
.i119{position:absolute;left:154.79pt;top:900.71pt;width:103.08pt;height:.72pt;z-index:69;}

.i120{position:absolute;left:401.44pt;top:278.63pt;width:86pt;height:15pt;z-index:107;}
.i121{position:absolute;left:401.23pt;top:279.2pt;width:85.56pt;height:14.64pt;z-index:108;}
.i122{position:absolute;left:100.56pt;top:306.21pt;width:102.48pt;height:14.64pt;z-index:112;}
.i123{position:absolute;left:113.32pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}
.i124{position:absolute;left:126.07pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}
.i125{position:absolute;left:138.83pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}
.i126{position:absolute;left:151.59pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}
.i127{position:absolute;left:164.34pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}
.i128{position:absolute;left:177.1pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}
.i129{position:absolute;left:189.85pt;top:306.36pt;width:.48pt;height:14.28pt;z-index:24;}

.i130{position:absolute;left:22.2526pt;top:390.34pt;width:567.6pt;height:58.68pt;z-index:130;}
.i131{position:absolute;left:101.35pt;top:394.06pt;width:165pt;height:15pt;z-index:138;}

.i132{position:absolute;left:101.14pt;top:394.64pt;width:164.88pt;height:14.64pt;z-index:139;}
.i132a{position:absolute;left:101.14pt;top:411.64pt;width:164.88pt;height:14.64pt;z-index:139;}

.i133{position:absolute;left:101.35pt;top:411.07pt;width:165pt;height:15pt;z-index:138;}
.i134{position:absolute;left:101.14pt;top:411.64pt;width:164.88pt;height:14.64pt;z-index:140;}
.i135{position:absolute;left:101.35pt;top:428.08pt;width:165pt;height:15pt;z-index:138;}
.i136{position:absolute;left:101.14pt;top:428.65pt;width:164.88pt;height:14.64pt;z-index:140;}
.i137{position:absolute;left:327.85pt;top:394.06pt;width:256pt;height:15pt;z-index:141;}
.i138{position:absolute;left:327.64pt;top:394.64pt;width:255.6pt;height:14.64pt;z-index:142;}
.i139{position:absolute;left:327.85pt;top:411.07pt;width:256pt;height:15pt;z-index:141;}

.i140{position:absolute;left:327.64pt;top:411.64pt;width:255.6pt;height:14.64pt;z-index:143;}
.i141{position:absolute;left:526.28pt;top:428.08pt;width:57pt;height:15pt;z-index:144;}
.i142{position:absolute;left:526.06pt;top:428.66pt;width:57.12pt;height:14.64pt;z-index:145;}
.i143{position:absolute;left:22.2526pt;top:462.98pt;width:567.6pt;height:284.04pt;z-index:146;}
.i144{position:absolute;left:26.2364pt;top:475.07pt;width:105pt;height:97pt;z-index:147;}
.i145{position:absolute;left:26.0242pt;top:475.44pt;width:105.36pt;height:96.84pt;z-index:148;}
.i146{position:absolute;left:30.4879pt;top:500.58pt;width:97pt;height:10pt;z-index:157;}
.i147{position:absolute;left:30.2758pt;top:500.35pt;width:96.84pt;height:10.44pt;z-index:158;}
.i148{position:absolute;left:30.4879pt;top:532.58pt;width:97pt;height:10pt;z-index:157;}
.i149{position:absolute;left:30.2758pt;top:532.35pt;width:96.84pt;height:10.44pt;z-index:159;}

.i150{position:absolute;left:30.4879pt;top:532.58pt;width:97pt;height:10pt;z-index:157;}
.i151{position:absolute;left:30.2758pt;top:532.35pt;width:96.84pt;height:10.44pt;z-index:159;}
.i152{position:absolute;left:30.4879pt;top:545.05pt;width:97pt;height:10pt;z-index:157;}
.i153{position:absolute;left:30.2758pt;top:544.82pt;width:96.84pt;height:10.44pt;z-index:158;}
.i154{position:absolute;left:30.4879pt;top:557.52pt;width:97pt;height:10pt;z-index:157;}
.i155{position:absolute;left:30.2758pt;top:557.3pt;width:96.84pt;height:10.44pt;z-index:158;}
.i156{position:absolute;left:134.74pt;top:475.07pt;width:241pt;height:97pt;z-index:160;}
.i157{position:absolute;left:134.52pt;top:475.45pt;width:241.44pt;height:96.84pt;z-index:161;}
.i158{position:absolute;left:177.46pt;top:494.04pt;width:10.32pt;height:4.92pt;z-index:175;}
.i159{position:absolute;left:177.46pt;top:501.77pt;width:10.32pt;height:4.92pt;z-index:175;}
.i160{position:absolute;left:177.46pt;top:509.5pt;width:10.32pt;height:4.92pt;z-index:175;}

.i161{position:absolute;left:177.46pt;top:517.23pt;width:10.32pt;height:4.92pt;z-index:175;}
.i162{position:absolute;left:177.46pt;top:524.97pt;width:10.32pt;height:4.92pt;z-index:175;}
.i163{position:absolute;left:177.46pt;top:532.7pt;width:10.32pt;height:4.92pt;z-index:175;}
.i164{position:absolute;left:177.46pt;top:540.43pt;width:10.32pt;height:4.92pt;z-index:175;}
.i165{position:absolute;left:177.46pt;top:548.16pt;width:10.32pt;height:4.92pt;z-index:175;}
.i166{position:absolute;left:177.46pt;top:555.89pt;width:10.32pt;height:4.92pt;z-index:175;}
.i167{position:absolute;left:177.46pt;top:563.63pt;width:10.32pt;height:4.92pt;z-index:175;}
.i168{position:absolute;left:189.76pt;top:494.22pt;width:.48pt;height:74.16pt;z-index:176;}
.i169{position:absolute;left:260.01pt;top:494.22pt;width:.48pt;height:74.16pt;z-index:176;}
.i170{position:absolute;left:247.46pt;top:494.04pt;width:10.32pt;height:4.92pt;z-index:175;}

.i171{position:absolute;left:247.46pt;top:501.77pt;width:10.32pt;height:4.92pt;z-index:175;}
.i172{position:absolute;left:247.46pt;top:509.5pt;width:10.32pt;height:4.92pt;z-index:175;}
.i173{position:absolute;left:247.46pt;top:517.23pt;width:10.32pt;height:4.92pt;z-index:175;}
.i174{position:absolute;left:247.46pt;top:524.97pt;width:10.32pt;height:4.92pt;z-index:175;}
.i175{position:absolute;left:247.46pt;top:532.7pt;width:10.32pt;height:4.92pt;z-index:175;}
.i176{position:absolute;left:247.46pt;top:540.43pt;width:10.32pt;height:4.92pt;z-index:175;}
.i177{position:absolute;left:247.46pt;top:548.16pt;width:10.32pt;height:4.92pt;z-index:175;}
.i178{position:absolute;left:247.46pt;top:555.89pt;width:10.32pt;height:4.92pt;z-index:175;}
.i179{position:absolute;left:247.46pt;top:563.63pt;width:10.32pt;height:4.92pt;z-index:175;}
.i180{position:absolute;left:307.96pt;top:494.04pt;width:10.32pt;height:4.92pt;z-index:175;}

.i181{position:absolute;left:307.96pt;top:501.77pt;width:10.32pt;height:4.92pt;z-index:175;}
.i182{position:absolute;left:307.96pt;top:509.5pt;width:10.32pt;height:4.92pt;z-index:175;}
.i183{position:absolute;left:307.96pt;top:517.23pt;width:10.32pt;height:4.92pt;z-index:175;}
.i184{position:absolute;left:307.96pt;top:524.97pt;width:10.32pt;height:4.92pt;z-index:175;}
.i185{position:absolute;left:307.96pt;top:532.7pt;width:10.32pt;height:4.92pt;z-index:175;}
.i186{position:absolute;left:307.96pt;top:540.43pt;width:10.32pt;height:4.92pt;z-index:175;}
.i187{position:absolute;left:307.96pt;top:548.16pt;width:10.32pt;height:4.92pt;z-index:175;}
.i188{position:absolute;left:307.96pt;top:555.89pt;width:10.32pt;height:4.92pt;z-index:175;}
.i189{position:absolute;left:307.96pt;top:563.63pt;width:10.32pt;height:4.92pt;z-index:175;}
.i190{position:absolute;left:320.51pt;top:494.22pt;width:.48pt;height:74.16pt;z-index:176;}

.i191{position:absolute;left:360.41pt;top:494.04pt;width:10.32pt;height:4.92pt;z-index:175;}
.i192{position:absolute;left:360.41pt;top:501.77pt;width:10.32pt;height:4.92pt;z-index:175;}
.i193{position:absolute;left:360.41pt;top:509.5pt;width:10.32pt;height:4.92pt;z-index:175;}
.i194{position:absolute;left:360.41pt;top:517.23pt;width:10.32pt;height:4.92pt;z-index:175;}
.i195{position:absolute;left:360.41pt;top:524.97pt;width:10.32pt;height:4.92pt;z-index:175;}
.i196{position:absolute;left:360.41pt;top:532.7pt;width:10.32pt;height:4.92pt;z-index:175;}
.i197{position:absolute;left:360.41pt;top:540.43pt;width:10.32pt;height:4.92pt;z-index:175;}
.i198{position:absolute;left:360.41pt;top:548.16pt;width:10.32pt;height:4.92pt;z-index:175;}
.i199{position:absolute;left:323.56pt;top:559.79pt;width:47.16pt;height:8.88pt;z-index:206;}

.i201{position:absolute;left:380.24pt;top:475.07pt;width:205pt;height:97pt;z-index:207;}
.i202{position:absolute;left:380.03pt;top:475.45pt;width:204.6pt;height:96.84pt;z-index:208;}
.i203{position:absolute;left:540.72pt;top:484.86pt;width:9.96pt;height:7.44pt;z-index:124;}
.i204{position:absolute;left:567.47pt;top:484.86pt;width:9.96pt;height:7.44pt;z-index:125;}
.i205{position:absolute;left:419.22pt;top:504.11pt;width:9.96pt;height:7.44pt;z-index:226;}
.i206{position:absolute;left:466.47pt;top:504.11pt;width:9.96pt;height:7.44pt;z-index:227;}
.i207{position:absolute;left:524.97pt;top:504.11pt;width:9.96pt;height:7.44pt;z-index:228;}
.i208{position:absolute;left:562.97pt;top:504.11pt;width:9.96pt;height:7.44pt;z-index:227;}
.i209{position:absolute;left:441.84pt;top:532.23pt;width:9.96pt;height:7.44pt;z-index:124;}

.i210{position:absolute;left:441.84pt;top:541.73pt;width:9.96pt;height:7.44pt;z-index:229;}
.i210a{position:absolute;left:441.84pt;top:532.73pt;width:9.96pt;height:7.44pt;z-index:229;}
.i210b{position:absolute;left:441.84pt;top:550.73pt;width:9.96pt;height:7.44pt;z-index:229;}

.i211{position:absolute;left:441.84pt;top:550.48pt;width:9.96pt;height:7.44pt;z-index:124;}
.i212{position:absolute;left:481.09pt;top:532.23pt;width:9.96pt;height:7.44pt;z-index:126;}

.i213{position:absolute;left:481.09pt;top:532.73pt;width:9.96pt;height:7.44pt;z-index:230;}
.i213a{position:absolute;left:481.09pt;top:541.73pt;width:9.96pt;height:7.44pt;z-index:229;}
.i213b{position:absolute;left:481.09pt;top:550.73pt;width:9.96pt;height:7.44pt;z-index:229;}

.i214{position:absolute;left:481.09pt;top:550.48pt;width:9.96pt;height:7.44pt;z-index:126;}
.i215{position:absolute;left:496.51pt;top:531.16pt;width:.48pt;height:38.52pt;z-index:231;}
.i216{position:absolute;left:549.34pt;top:532.23pt;width:9.96pt;height:7.44pt;z-index:126;}
.i217{position:absolute;left:549.34pt;top:532pt;width:9.96pt;height:7.44pt;z-index:230;}
.i217a{position:absolute;left:549.34pt;top:542pt;width:9.96pt;height:7.44pt;z-index:230;}
.i217b{position:absolute;left:549.34pt;top:550.73pt;width:9.96pt;height:7.44pt;z-index:230;}
.i218{position:absolute;left:549.34pt;top:549.48pt;width:9.96pt;height:7.44pt;z-index:126;}
.i219{position:absolute;left:404.21pt;top:559.68pt;width:91pt;height:10pt;z-index:232;}

.i220{position:absolute;left:403.99pt;top:559.45pt;width:91.2pt;height:10.44pt;z-index:233;}
.i221{position:absolute;left:26.2364pt;top:582pt;width:128pt;height:161pt;z-index:234;}
.i222{position:absolute;left:26.0242pt;top:582.54pt;width:128.04pt;height:160.68pt;z-index:235;}
.i223{position:absolute;left:157.23pt;top:582pt;width:185pt;height:161pt;z-index:236;}
.i224{position:absolute;left:157.02pt;top:582.54pt;width:184.68pt;height:160.68pt;z-index:237;}
.i225{position:absolute;left:345.23pt;top:582pt;width:100pt;height:161pt;z-index:238;}
.i226{position:absolute;left:345.02pt;top:582.54pt;width:99.72pt;height:160.68pt;z-index:239;}
.i227{position:absolute;left:448.27pt;top:582pt;width:137pt;height:161pt;z-index:240;}
.i228{position:absolute;left:448.06pt;top:582.54pt;width:136.56pt;height:160.68pt;z-index:241;}
.i229{position:absolute;left:125.59pt;top:593.98pt;width:9.96pt;height:7.44pt;z-index:230;}

.i230{position:absolute;left:125.59pt;top:601.98pt;width:9.96pt;height:7.44pt;z-index:126;}
.i231{position:absolute;left:125.59pt;top:610.98pt;width:9.96pt;height:7.44pt;z-index:126;}
.i232{position:absolute;left:125.59pt;top:619.48pt;width:9.96pt;height:7.44pt;z-index:230;}
.i233{position:absolute;left:125.59pt;top:628.23pt;width:9.96pt;height:7.44pt;z-index:230;}
.i234{position:absolute;left:125.59pt;top:644.98pt;width:9.96pt;height:7.44pt;z-index:230;}
.i235{position:absolute;left:130.59pt;top:667.23pt;width:9.96pt;height:7.44pt;z-index:259;}
.i236{position:absolute;left:106.09pt;top:667.23pt;width:9.96pt;height:7.44pt;z-index:126;}
.i237{position:absolute;left:125.59pt;top:692.48pt;width:9.96pt;height:7.44pt;z-index:268;}
.i238{position:absolute;left:125.59pt;top:701.48pt;width:9.96pt;height:7.44pt;z-index:268;}
.i239{position:absolute;left:125.59pt;top:710.48pt;width:9.96pt;height:7.44pt;z-index:268;}

.i240{position:absolute;left:125.59pt;top:718.98pt;width:9.96pt;height:7.44pt;z-index:259;}
.i241{position:absolute;left:125.59pt;top:727.73pt;width:9.96pt;height:7.44pt;z-index:268;}
.i242{position:absolute;left:321.09pt;top:602.98pt;width:9.96pt;height:7.44pt;z-index:229;}
.i243{position:absolute;left:321.09pt;top:611.98pt;width:9.96pt;height:7.44pt;z-index:229;}
.i244{position:absolute;left:321.09pt;top:620.98pt;width:9.96pt;height:7.44pt;z-index:229;}
.i245{position:absolute;left:321.09pt;top:629.98pt;width:9.96pt;height:7.44pt;z-index:229;}
.i246{position:absolute;left:321.09pt;top:638.98pt;width:9.96pt;height:7.44pt;z-index:229;}
.i247{position:absolute;left:321.09pt;top:647.98pt;width:9.96pt;height:7.44pt;z-index:229;}
.i248{position:absolute;left:321.09pt;top:656.98pt;width:9.96pt;height:7.44pt;z-index:229;}

.i249h{position:absolute;left:320.84pt;top:603pt;width:9.96pt;height:7.44pt;z-index:278;}
.i249g{position:absolute;left:320.84pt;top:611pt;width:9.96pt;height:7.44pt;z-index:278;}
.i249f{position:absolute;left:320.84pt;top:620pt;width:9.96pt;height:7.44pt;z-index:278;}
.i249e{position:absolute;left:320.84pt;top:629pt;width:9.96pt;height:7.44pt;z-index:278;}
.i249d{position:absolute;left:320.84pt;top:638pt;width:9.96pt;height:7.44pt;z-index:278;}
.i249c{position:absolute;left:320.84pt;top:647pt;width:9.96pt;height:7.44pt;z-index:278;}
.i249a{position:absolute;left:320.84pt;top:656pt;width:9.96pt;height:7.44pt;z-index:278;}

.i249{position:absolute;left:320.84pt;top:665pt;width:9.96pt;height:7.44pt;z-index:278;}
.i250{position:absolute;left:320.84pt;top:674pt;width:9.96pt;height:7.44pt;z-index:279;}

.i251{position:absolute;left:164.32pt;top:701.96pt;width:171pt;height:10pt;z-index:282;}
.i252{position:absolute;left:164.11pt;top:701.74pt;width:170.52pt;height:10.44pt;z-index:283;}

.i253a{position:absolute;left:229.59pt;top:729.2pt;width:9.96pt;height:7.44pt;z-index:259;}
.i253{position:absolute;left:256.59pt;top:729.2pt;width:9.96pt;height:7.44pt;z-index:259;}

.i254{position:absolute;left:232.09pt;top:728.2pt;width:9.96pt;height:7.44pt;z-index:126;}
.i255{position:absolute;left:422.66pt;top:605.3pt;width:10.32pt;height:4.92pt;z-index:175;}
.i256{position:absolute;left:422.66pt;top:614.78pt;width:10.32pt;height:4.92pt;z-index:175;}
.i257{position:absolute;left:422.66pt;top:624.77pt;width:10.32pt;height:4.92pt;z-index:175;}
.i258{position:absolute;left:422.66pt;top:634.52pt;width:10.32pt;height:4.92pt;z-index:175;}

.i259{position:absolute;left:420.84pt;top:675.79pt;width:9.96pt;height:7.44pt;z-index:124;}
.i260{position:absolute;left:420.84pt;top:692.29pt;width:9.96pt;height:7.44pt;z-index:124;}
.i261{position:absolute;left:420.84pt;top:710.26pt;width:9.96pt;height:7.44pt;z-index:227;}

.i262{position:absolute;left:555.41pt;top:603.54pt;width:9.96pt;height:7.44pt;z-index:279;}
.i263{position:absolute;left:555.41pt;top:614.54pt;width:9.96pt;height:7.44pt;z-index:299;}
.i264{position:absolute;left:494.32pt;top:634.57pt;width:71pt;height:10pt;z-index:301;}
.i265{position:absolute;left:494.11pt;top:634.34pt;width:71.4pt;height:10.44pt;z-index:302;}
.i266{position:absolute;left:555.34pt;top:693.79pt;width:9.96pt;height:7.44pt;z-index:124;}
.i267{position:absolute;left:555.34pt;top:702.91pt;width:9.96pt;height:7.44pt;z-index:124;}
.i268{position:absolute;left:555.34pt;top:713.91pt;width:9.96pt;height:7.44pt;z-index:227;}
.i269{position:absolute;left:555.34pt;top:724.45pt;width:9.96pt;height:7.44pt;z-index:279;}
.i270{position:absolute;left:22.5356pt;top:757.75pt;width:278pt;height:97pt;z-index:312;}

.i271{position:absolute;left:22.3234pt;top:758.13pt;width:278.28pt;height:96.84pt;z-index:313;}
.i272{position:absolute;left:119.44pt;top:768.03pt;width:88pt;height:10pt;z-index:315;}
.i273{position:absolute;left:119.23pt;top:767.8pt;width:88.32pt;height:10.44pt;z-index:316;}
.i274{position:absolute;left:119.44pt;top:780.78pt;width:176pt;height:10pt;z-index:317;}
.i275{position:absolute;left:119.23pt;top:780.55pt;width:176.28pt;height:10.44pt;z-index:318;}
.i276{position:absolute;left:119.44pt;top:793.04pt;width:176pt;height:10pt;z-index:319;}
.i277{position:absolute;left:119.23pt;top:792.81pt;width:176.28pt;height:10.44pt;z-index:320;}
.i278{position:absolute;left:119.44pt;top:805.79pt;width:176pt;height:10pt;z-index:321;}
.i279{position:absolute;left:119.23pt;top:805.57pt;width:176.28pt;height:10.44pt;z-index:320;}
.i280{position:absolute;left:119.44pt;top:818.55pt;width:176pt;height:10pt;z-index:321;}

.i281{position:absolute;left:119.23pt;top:818.32pt;width:176.28pt;height:10.44pt;z-index:322;}
.i282{position:absolute;left:119.44pt;top:830.8pt;width:176pt;height:10pt;z-index:321;}
.i283{position:absolute;left:119.23pt;top:830.58pt;width:176.28pt;height:10.44pt;z-index:322;}
.i284{position:absolute;left:136.45pt;top:842.81pt;width:159pt;height:10pt;z-index:323;}
.i285{position:absolute;left:136.23pt;top:842.58pt;width:159.24pt;height:10.44pt;z-index:324;}
.i286{position:absolute;left:306.54pt;top:757.75pt;width:278pt;height:97pt;z-index:312;}
.i287{position:absolute;left:306.33pt;top:758.13pt;width:278.28pt;height:96.84pt;z-index:332;}
.i288{position:absolute;left:414.94pt;top:770.03pt;width:88pt;height:10pt;z-index:315;}
.i289{position:absolute;left:414.73pt;top:769.8pt;width:88.32pt;height:10.44pt;z-index:316;}
.i290{position:absolute;left:414.94pt;top:782.78pt;width:165pt;height:10pt;z-index:333;}

.i291{position:absolute;left:414.73pt;top:782.55pt;width:164.88pt;height:10.44pt;z-index:334;}
.i292{position:absolute;left:414.94pt;top:796.04pt;width:165pt;height:10pt;z-index:335;}
.i293{position:absolute;left:414.73pt;top:795.81pt;width:164.88pt;height:10.44pt;z-index:336;}
.i294{position:absolute;left:414.94pt;top:809.79pt;width:165pt;height:10pt;z-index:337;}
.i295{position:absolute;left:414.73pt;top:809.57pt;width:164.88pt;height:10.44pt;z-index:338;}
.i296{position:absolute;left:414.94pt;top:822.55pt;width:165pt;height:10pt;z-index:337;}
.i297{position:absolute;left:414.73pt;top:822.32pt;width:164.88pt;height:10.44pt;z-index:339;}
.i298{position:absolute;left:414.94pt;top:834.8pt;width:165pt;height:10pt;z-index:337;}
.i299{position:absolute;left:414.73pt;top:834.58pt;width:164.88pt;height:10.44pt;z-index:338;}
.i300{position:absolute;left:78.6202pt;top:857.81pt;width:166pt;height:10pt;z-index:346;}

.i300{position:absolute;left:78.6202pt;top:857.81pt;width:166pt;height:10pt;z-index:346;}
.i300a{position:absolute;left:78.4078pt;top:857.58pt;width:166.32pt;height:10.44pt;z-index:347;}
.i301{position:absolute;left:91.1626pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i302{position:absolute;left:103.92pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i303{position:absolute;left:116.67pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i304{position:absolute;left:129.43pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i305{position:absolute;left:142.19pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i306{position:absolute;left:154.94pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i307{position:absolute;left:167.7pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i308{position:absolute;left:180.45pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i309{position:absolute;left:193.21pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}

.i310{position:absolute;left:205.97pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i311{position:absolute;left:218.72pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i312{position:absolute;left:231.48pt;top:857.85pt;width:.48pt;height:9.96pt;z-index:348;}
.i313{position:absolute;left:343.54pt;top:857.66pt;width:26.76pt;height:13.56pt;z-index:349;}
.i314{position:absolute;left:356.66pt;top:857.79pt;width:.48pt;height:13.2pt;z-index:350;}
.i315{position:absolute;left:397.77pt;top:857.66pt;width:26.04pt;height:13.2pt;z-index:31;}
.i316{position:absolute;left:410.52pt;top:857.8pt;width:.48pt;height:12.84pt;z-index:32;}
.i317{position:absolute;left:454.27pt;top:857.66pt;width:56pt;height:13.2pt;z-index:31;}
.i318{position:absolute;left:467.02pt;top:857.8pt;width:.48pt;height:12.84pt;z-index:32;}
.i319{position:absolute;left:479.78pt;top:857.66pt;width:26.04pt;height:13.2pt;z-index:31;}

.i320{position:absolute;left:492.54pt;top:857.8pt;width:.48pt;height:12.84pt;z-index:32;}
.i321{position:absolute;left:40.293pt;top:900.71pt;width:87.12pt;height:.72pt;z-index:369;}
.i322{position:absolute;left:290pt;top:900.71pt;width:132.6pt;height:.72pt;z-index:370;}
.i323{position:absolute;left:487.44pt;top:900.71pt;width:86.28pt;height:.72pt;z-index:375;}
.i324{position:absolute;left:184.96pt;top:74.144pt;width:11.28pt;height:7.8pt;z-index:19;}
.i325{position:absolute;left:26.1916pt;top:61.5632pt;width:3.84pt;height:3.6pt;z-index:23;}
.i326{position:absolute;left:563.19pt;top:75.4484pt;width:11.52pt;height:7.08pt;z-index:21;}
.i327{position:absolute;left:26.4736pt;top:76.7444pt;width:3.84pt;height:3.6pt;z-index:166;}
.i328{position:absolute;left:26.2744pt;top:95.3984pt;width:3.84pt;height:3.6pt;z-index:167;}
.i329{position:absolute;left:26.6916pt;top:61.66pt;width:3pt;height:3pt;z-index:22;}

.i330{position:absolute;left:525.48pt;top:90.4022pt;width:38.52pt;height:16.92pt;z-index:224;}
.i331{position:absolute;left:416.89pt;top:98.8163pt;width:90.72pt;height:.36pt;z-index:226;}
.i332{position:absolute;left:435pt;top:357.07pt;width:62.88pt;height:18.12pt;z-index:228;}
.i333{position:absolute;left:439pt;top:362.74pt;width:7.32pt;height:6.12pt;z-index:230;}
.i334{position:absolute;left:185.46pt;top:74.44pt;width:11pt;height:7pt;z-index:18;}
.i335{position:absolute;left:26.9742pt;top:76.84pt;width:3pt;height:3pt;z-index:22;}
.i336{position:absolute;left:448pt;top:362.74pt;width:7.32pt;height:6.12pt;z-index:230;}
.i337{position:absolute;left:563.69pt;top:76.03pt;width:11pt;height:6pt;z-index:20;}
.i338{position:absolute;left:457pt;top:362.74pt;width:7.32pt;height:6.12pt;z-index:230;}
.i339{position:absolute;left:26.7745pt;top:95.5pt;width:3pt;height:3pt;z-index:22;}

.i340{position:absolute;left:465.02pt;top:362.74pt;width:7.32pt;height:6.12pt;z-index:232;}
.i341{position:absolute;top:107.1pt;left:33.0017pt;z-index:15;letter-spacing:-.031em;}
.i342{position:absolute;left:507.33pt;top:97.43pt;width:4pt;height:3pt;z-index:227;}
.i343{position:absolute;left:475.17pt;top:362.74pt;width:7.32pt;height:6.12pt;z-index:230;}
.i344{position:absolute;left:485pt;top:362.74pt;width:7.32pt;height:6.12pt;z-index:232;}
.i345{position:absolute;left:445.54pt;top:446.6pt;width:105.36pt;height:15.24pt;z-index:236;}
.i346{position:absolute;left:447.26pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i347{position:absolute;left:154.78pt;top:439.58pt;width:260.88pt;height:.36pt;z-index:262;}
.i348{position:absolute;left:154.78pt;top:431.07pt;width:260.88pt;height:.36pt;z-index:262;}
.i349{position:absolute;left:154.78pt;top:422.57pt;width:260.88pt;height:.36pt;z-index:262;}

.i350{position:absolute;left:154.78pt;top:414.06pt;width:260.88pt;height:.36pt;z-index:262;}
.i351{position:absolute;left:249.00pt;top:364.03pt;width:7.68pt;height:6.12pt;z-index:265;}
.i352{position:absolute;left:455.87pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i353{position:absolute;left:154.86pt;top:405.48pt;width:261.24pt;height:42.96pt;z-index:263;}
.i354{position:absolute;left:240.00pt;top:363.78pt;width:7.92pt;height:6.48pt;z-index:268;}
.i355{position:absolute;left:464.47pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:251;}
.i356{position:absolute;left:285.25pt;top:405.67pt;width:.36pt;height:42.6pt;z-index:264;}
.i357{position:absolute;left:237pt;top:358.07pt;width:23.16pt;height:18.12pt;z-index:271;}
.i358{position:absolute;left:473.08pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i359{position:absolute;left:481.68pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:251;}
.i360{position:absolute;left:490.28pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}

.i361{position:absolute;left:498.89pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i362{position:absolute;left:507.49pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i363{position:absolute;left:516.09pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i364{position:absolute;left:523.71pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i365{position:absolute;left:533.07pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i366{position:absolute;left:542.56pt;top:454.68pt;width:6.6pt;height:5.64pt;z-index:250;}
.i367{position:absolute;left:156.9pt;top:866.09pt;width:420.72pt;height:.8pt;z-index:222;}
.i368{position:absolute;left:400.69pt;top:362.72pt;width:8pt;height:6pt;z-index:229;}
.i369{position:absolute;left:450pt;top:362pt;width:4pt;height:4pt;z-index:235;}
.i370{position:absolute;left:410.85pt;top:362.72pt;width:8pt;height:6pt;z-index:229;}

.i371{position:absolute;left:421pt;top:362.72pt;width:8pt;height:6pt;z-index:231;}
.i372{position:absolute;left:431.16pt;top:362.72pt;width:8pt;height:6pt;z-index:229;}
.i373{position:absolute;left:441.31pt;top:362.72pt;width:8pt;height:6pt;z-index:231;}
.i374{position:absolute;left:451.47pt;top:362.72pt;width:8pt;height:6pt;z-index:229;}
.i375{position:absolute;left:219.22pt;top:364.05pt;width:8pt;height:6pt;z-index:267;}
.i376{position:absolute;left:448.66pt;top:447pt;height:4pt;z-index:237;}
.i377{position:absolute;left:457.87pt;top:448.34pt;width:4pt;height:4pt;z-index:238;}
.i378{position:absolute;left:466.52pt;top:448.4pt;width:4pt;height:4pt;z-index:239;}
.i379{position:absolute;left:475.45pt;top:448.34pt;width:4pt;height:4pt;z-index:240;}
.i380{position:absolute;left:156.9pt;top:881.38pt;width:420.72pt;height:.8pt;z-index:222;}

.i381{position:absolute;left:484.24pt;top:448.34pt;width:4pt;height:4pt;z-index:241;}
.i382{position:absolute;left:492.73pt;top:448.34pt;width:3pt;height:4pt;z-index:242;}
.i383{position:absolute;left:500.75pt;top:448.4pt;width:4pt;height:4pt;z-index:243;}
.i384{position:absolute;left:510pt;top:448.34pt;width:4pt;height:4pt;z-index:244;}
.i385{position:absolute;left:520.33pt;top:448.34pt;width:3pt;height:4pt;z-index:245;}
.i386{position:absolute;left:526.32pt;top:448.4pt;width:3pt;height:4pt;z-index:246;}
.i387{position:absolute;left:534.5pt;top:448.34pt;width:4pt;height:4pt;z-index:247;}
.i388{position:absolute;left:544.88pt;top:448.34pt;width:3pt;height:4pt;z-index:248;}
.i389{position:absolute;left:447.37pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i390{position:absolute;left:457.1pt;top:450.91pt;width:3pt;height:3pt;z-index:252;}

.i391{position:absolute;left:455.97pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i392{position:absolute;left:464.58pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i393{position:absolute;left:473.18pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i394{position:absolute;left:103.47pt;top:855.97pt;width:40.8pt;height:38.4pt;z-index:216;}
.i395{position:absolute;left:481.78pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i396{position:absolute;left:490.39pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i397{position:absolute;left:498.99pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i398{position:absolute;left:156.9pt;top:896.66pt;width:420.72pt;height:.8pt;z-index:222;}
.i399{position:absolute;left:507.6pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i400{position:absolute;left:516.2pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}

.i401{position:absolute;left:523.82pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i402{position:absolute;left:533.18pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i403{position:absolute;left:36.7174pt;top:852.36pt;width:63pt;height:48.84pt;z-index:217;}
.i404{position:absolute;left:542.67pt;top:454.22pt;width:7pt;height:6pt;z-index:249;}
.i405{position:absolute;left:152.22pt;top:852.36pt;width:434.28pt;height:48.84pt;z-index:221;}
.i406{position:absolute;left:22.2526pt;top:28.2939pt;width:567.6pt;height:879.36pt;z-index:1;}
.i407{position:absolute;left:103.75pt;top:856.74pt;width:41pt;height:37pt;z-index:215;}
.i408{position:absolute;left:307.46pt;top:305.64pt;width:278pt;height:15pt;z-index:113;}
.i409{position:absolute;left:307.25pt;top:306.21pt;width:278.28pt;height:14.64pt;z-index:114;}

.i410{position:absolute;left:22.2526pt;top:335.01pt;width:567.6pt;height:41.76pt;z-index:115;}
.i411{position:absolute;left:28.0618pt;top:349.18pt;width:34.56pt;height:23.16pt;z-index:116;}
.i412{position:absolute;left:30.5531pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i413{position:absolute;left:45.5591pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i414{position:absolute;left:71.1862pt;top:349.18pt;width:82.68pt;height:23.16pt;z-index:118;}
.i415{position:absolute;left:73.0595pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i416{position:absolute;left:73.0595pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i417{position:absolute;left:86.3974pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i418{position:absolute;left:99.7367pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i419{position:absolute;left:113.08pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:121;}

.i420{position:absolute;left:126.75pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i421{position:absolute;left:140.09pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i422{position:absolute;left:162.69pt;top:349.18pt;width:82.68pt;height:23.16pt;z-index:118;}
.i423{position:absolute;left:164.56pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i424{position:absolute;left:164.56pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i425{position:absolute;left:177.9pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i426{position:absolute;left:191.24pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i427{position:absolute;left:204.58pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:121;}
.i428{position:absolute;left:218.25pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i429{position:absolute;left:231.59pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}

.i430{position:absolute;left:268.11pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:121;}
.i431{position:absolute;left:282.33pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i432{position:absolute;left:296.88pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i433{position:absolute;left:311.59pt;top:356.6pt;width:10.32pt;height:7.44pt;z-index:117;}
.i434{position:absolute;left:349.43pt;top:349.18pt;width:160.68pt;height:23.16pt;z-index:123;}

.i433a{position:absolute;left:353.34pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:124;}
.i433b{position:absolute;left:381.47pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:125;}
.i433c{position:absolute;left:379.72pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:126;}
.i433d{position:absolute;left:392.97pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:124;}
.i433e{position:absolute;left:406.59pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:124;}
.i433f{position:absolute;left:418.97pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:125;}
.i433g{position:absolute;left:433.22pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:125;}
.i433h{position:absolute;left:446.59pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:126;}
.i433i{position:absolute;left:459.34pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:126;}
.i433j{position:absolute;left:471.09pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:124;}
.i433k{position:absolute;left:484.59pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:124;}
.i433l{position:absolute;left:496.97pt;top:361.86pt;width:10.32pt;height:7.44pt;z-index:125;}

.i447{position:absolute;left:519.43pt;top:349.18pt;width:62.88pt;height:23.16pt;z-index:127;}
.i448{position:absolute;left:527.91pt;top:355.4pt;width:9pt;height:9pt;z-index:128;}

.i449{position:absolute;left:527.69pt;top:355.62pt;width:9pt;height:9pt;z-index:129;}
.i449a{position:absolute;left:544.69pt;top:355.62pt;width:9pt;height:9pt;z-index:129;}
.i449b{position:absolute;left:560.69pt;top:355.62pt;width:9pt;height:9pt;z-index:129;}

.i450{position:absolute;left:546.58pt;top:355.4pt;width:9pt;height:9pt;z-index:128;}
.i451{position:absolute;left:546.36pt;top:355.62pt;width:9pt;height:9pt;z-index:129;}
.i452{position:absolute;left:565.71pt;top:355.4pt;width:9pt;height:9pt;z-index:128;}
.i453{position:absolute;left:565.49pt;top:355.62pt;width:9pt;height:9pt;z-index:129;}



/* ----- */
.page {
    width: 21.59cm;
    height: 33.02cm;
    padding: 0cm auto;
    margin: 0cm auto;    
}
@page {
    size: letter;
}
@media print {
    .page {
        margin: initial;
        border: initial;
        border-radius: initial;
        width: initial;
        height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    h3 {
        page-break-before: always;
    }     
}





